# Django Server
Django==3.1.5
mysqlclient==2.0.3
django-crispy-forms==1.10.0
djangorestframework==3.12.2
requests==2.25.1
# uWSGI==2.0.19.1

# Recognition Engine
opencv-python==4.4.0.46
Pillow==8.1.0
google-cloud-vision==2.0.0
