table.table td {
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

table.table th {
    word-wrap: break-word;
    text-align: center;
    vertical-align: middle;
}

p {
    text-align: center;
}

ul li {
    list-style: none;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
}

/* li {
    float: left;
} */